<% layout('layout') -%>
<div id="dashboardform" class="">
  <form class="" action="/dashboard" method="post">
  	<ul class="thumbnails">
  		<li class="span4">
  			<div class="thumbnail"></div>
  		</li>
  		<li class="span3">
  			2
  		</li>
  		<li class="span2">
  			3
  		</li>
  		<li class="span3">
  			4
  		</li>
  		<li class="span2">
  			5
  		</li>
  	</ul>
    <br/>
  </form>
</div>